{% extends "::blank.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="login-wrapper ">
        <!-- START Login Background Pic Wrapper-->
        <div class="bg-pic">
            <!-- START Background Pic-->
            <img src="{{ asset('img/login1.jpg') }}" alt="" class="lazy">
            <!-- END Background Pic-->
            <!-- START Background Caption-->
            <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
                <h2 class="semi-bold text-white">
                    SIGAF es el sistema de administración de la Federación ANCAP</h2>
                <p class="small">
                    Actualmente el sistema está en fase de prueba.
                </p>
            </div>
            <!-- END Background Caption-->
        </div>
        <!-- END Login Background Pic Wrapper-->
        <!-- START Login Right Container-->
        {% block right %}{% endblock %}
        <!-- END Login Right Container-->
    </div>
{% endblock %}
{% block pie %}{% endblock %}
