{% extends "FOSUserBundle::login-layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block right %}
    <div class="login-container bg-white">
        <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-30 m-t-20 sm-p-l-15 sm-p-r-15 sm-p-t-40">
            <img src="{{ asset('img/logo.png') }}" alt="logo">
            <p class="p-t-35">Ingresar al sistema</p>
            <!-- START Login Form -->
            {% if error -%}
                <div class="alert alert-danger">
                    <ul class="list-unstyled">
                        <li><span class="glyphicon glyphicon-exclamation-sign"></span> {{ error.messageKey|trans(error.messageData, 'security') }}</li>
                    </ul>
                </div>
            {% endif %}

            <form id="form-login" class="p-t-15" role="form" action="{{ path("fos_user_security_check") }}" method="post">
                <!-- START Form Control-->
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <div class="form-group form-group-default">
                    <label>{{ 'security.login.username'|trans }}</label>
                    <div class="controls">
                        <input type="text" name="_username" placeholder="{{ last_username }}" value="{{ last_username }}" class="form-control" required>
                    </div>
                </div>
                <!-- END Form Control-->
                <!-- START Form Control-->
                <div class="form-group form-group-default">
                    <label>{{ 'security.login.password'|trans }}</label>
                    <div class="controls">
                        <input type="password" class="form-control" name="_password" required>
                    </div>
                </div>
                <!-- START Form Control-->
                <div class="row">
                    <div class="col-md-6 no-padding">
                        <div class="checkbox ">
                            <input type="checkbox" value="1" id="remember_me" name="_remember_me">
                            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                        </div>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="{{ path('fos_user_resetting_request') }}" class="text-info small">Olidé mi contraseña</a>
                    </div>
                </div>
                <!-- END Form Control-->
                <button class="btn btn-primary btn-block" type="submit">{{ 'security.login.submit'|trans }}</button>
            </form>
            <!--END Login Form-->
            <div class="m-t-30 sm-m-t-20 clearfix">
                <p>
                    <small>
                        Comentarios, sugerencias y reportes de error favor de enviarlos a 
                        <a href="mailto:sigaf@fancap.org.uy">sigaf@fancap.org.uy</a>
                    </small>
                </p>
            </div>
        </div>
    </div>
{% endblock %}