{% extends '::blank.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
    <div class="register-container full-height sm-p-t-30">
        <div class="container-sm-height full-height">
            <div class="row row-sm-height">
                <div class="col-sm-12 col-sm-height col-middle">
                    <p>
                        {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
                    </p>                </div>
            </div>
        </div>
    </div>
{% endblock %}
