{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
{%- autoescape false -%}
{{ 'resetting.email.subject'|trans({'%username%': user.username}) }}
{%- endautoescape -%}
{% endblock %}

{% block body_text %}
{% autoescape false %}
{{ 'resetting.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
{% endautoescape %}
{% endblock %}

{% block body_html %}
{% cssinline %}
<style>
    p {
        font:15px 'Proxima Nova',proxima_novalight,Helvetica,Arial,sans-serif;
        color:#595959
    }

    a {
        text-decoration:none;
        color:#10CFBD;
        font-weight:normal
    }

    h2 {
        font: bold 30px 'Proxima Nova',proxima_novalight,Helvetica,Arial,sans-serif;
        color: #373737;
        padding: 0 0 10px;
        margin: 10px
    }
    h3{
        font: lighter 18px 'Proxima Nova',proxima_novalight,Helvetica,Arial,sans-serif;
        color: #3f3f3f;
        text-align: center;
    }

    h4 {
        font:15px 'Proxima Nova',proxima_novalight,Helvetica,Arial,sans-serif;
        color:#10CFBD
    }

    td.button {
        font:17px 'Proxima Nova',proxima_novalight,Helvetica,Arial,sans-serif;
        color:#fff;
        border-radius:3px;
        background:#6D5CAE;
    }

    td.button a {
        text-decoration:none;
        color:#fff;
        display:block;
        padding:10px 15px
    }
</style>

<table bgcolor="#f0f0f0" cellpadding="0" cellspacing="0" width="100%">
    <tr class="fondo">
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="fondo">&nbsp;</td>
        <td class="cuerpo"  bgcolor="#ffffff" style="border-left: 2px solid #eee; border-top: 2px solid #eee; border-right: 2px solid #eee; border-bottom: 3px solid #eee; border-radius: 5px; padding: 15px; width: 540px; padding-left: 30px; padding-right: 30px;">
            <p>{{ 'resetting.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}</p>
            <p><img src="{{ app.request.getSchemeAndHttpHost() ~ asset('img/logo-email.png')}}" width="540" height="72" /></p></td>
        <td class="fondo">&nbsp;</td>
    </tr>
    <tr class="fondo">
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
</table>
{% endcssinline %}
{% endblock %}
