{% trans_default_domain 'FOSUserBundle' %}
<h3 class="page-title">Recuperar mi contraseña</h3>
<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div class="form-group-default form-group  required">
        <label class="control-label required" for="username">{{ 'resetting.request.username'|trans }}</label>
        <input type="username" id="username" name="username" required="required" class="form-control">
    </div>
    <div class="m-t-20">
        <button class="btn btn-primary" type="submit">{{ 'resetting.request.submit'|trans }}</button>
    </div>
</form>
