{% extends '::blank.html.twig' %}
{% block body %}
    <div class="register-container full-height sm-p-t-30">
        <div class="container-sm-height full-height">
            <div class="row row-sm-height">
                <div class="col-sm-12 col-sm-height col-middle">
                    {% include "FOSUserBundle:Resetting:request_content.html.twig" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}