{% extends "FOSUserBundle::layout.html.twig" %}
{% block encabezado %}
    <h3 class="page-title">Recuperar mi contraseña</h3>
{% endblock %}

{% block fos_user_content %}
{% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
{% endblock fos_user_content %}
