{% extends "FOSUserBundle::layout.html.twig" %}
{% block encabezado %}
    <h3 class="page-title">Crear cuenta de usuario</h3>
{% endblock %}
{% block fos_user_content %}
    {% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}
