{% trans_default_domain 'FOSUserBundle' %}
<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-8">
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
            {{ form_widget(form) }}
        <div class="m-t-20">
            <button class="btn btn-primary" type="submit">Registrar usuario</button>
            <button class="btn btn-default" type="reset"><i class="pg-close"></i> Cancelar</button>
        </div>
        {{ form_end(form) }}
    </div>
</div>
