{% extends "FOSUserBundle::layout.html.twig" %}
{% block encabezado %}
    <h3 class="page-title">Mi cuenta</h3>
{% endblock %}

{% block fos_user_content %}
    {% include "FOSUserBundle:Profile:show_content.html.twig" %}
{% endblock fos_user_content %}
