{% extends "FOSUserBundle::layout.html.twig" %}
{% block encabezado %}
    <h3 class="page-title">Cambiar contraseña</h3>
{% endblock %}

{% block fos_user_content %}
    {% include "FOSUserBundle:ChangePassword:change_password_content.html.twig" %}
{% endblock fos_user_content %}
