{% trans_default_domain 'FOSUserBundle' %}
<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-8">
        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
        {{ form_widget(form) }}
        <div class="m-t-20">
            <button class="btn btn-primary" type="submit">{{ 'change_password.submit'|trans }}</button>
        </div>
        {{ form_end(form) }}
    </div>
</div>