{% extends 'base.email.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
    {%- autoescape false -%}
        Registro en SIGAF
    {%- endautoescape -%}
{% endblock %}

{% block body %}
    {% autoescape false %}
        <p>Le damos la bienvenida al <b>SITEMA DE GESTIÓN DE AFILIADOS DE FANCAP</b></p>
        <p>Está recibiendo este correo porque un administrador ha creado una cuenta a su nombre para que pueda acceder al SIGAF</p>
        <p>Acceda ingresando a la siguiente dirección: <a href="{{ confirmationUrl }}">{{ confirmationUrl }}</a></p>
    {% endautoescape %}
{% endblock %}
