{% extends '::base.html.twig' %}
{% block encabezado %}
    <div class="container-fluid container-fixed-lg">
        <h3 class="page-title">Lista de usuarios</h3>
    </div>
{% endblock %}
{% block body %}
    {{ datatable_render(datatable) }}
{% endblock %}